<?xml version='1.0'?>
<model>
  <name>tergeo_turtlebot</name>
  <version>1.0</version>
  <sdf version='1.5'>model_turtlebot.sdf</sdf>
  <author>
    <name>rjp</name>
    <email>rjjjjjp1997@163.com</email>
  </author>
  <description>
    model based on turtlebot3 gazebo description
  </description>
</model>
