<?xml version="1.0" ?>
<robot name="tergeo" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Import rviz color -->
  <xacro:include filename="$(find tergeo_description)/urdf/rviz_material.xacro" />
  <!-- Import macro -->
  <xacro:include filename="$(find tergeo_description)/urdf/macro/*.xacro" />
  <!-- Use macros to generate the whole robot -->
  <xacro:base_model base_name="base" world_link="base_world" />
  <xacro:lidar_model lidar_name="lidar" parent_link="base_link" />
  <xacro:wheel_model wheel_name="left_wheel" parent_link="base_link" />
  <xacro:wheel_model wheel_name="right_wheel" parent_link="base_link" />
  <xacro:control_model left_wheel_name="left_wheel" right_wheel_name="right_wheel" world_link="base_world" />  
  <xacro:caster_model caster_name="back_caster" parent_link="base_link" />
  <xacro:imu_model imu_name="imu" parent_link="base_link" />
  <!-- <xacro:sonar_model sonar_name="left_sonar" parent_link="base_link" /> -->
  <!-- <xacro:sonar_model sonar_name="right_sonar" parent_link="base_link" /> -->

</robot>
